.product-detail-page {
  padding: 30px 0;
}

.product-not-found {
  text-align: center;
  padding: 100px 0;
}

.product-not-found h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: var(--dark-color);
}

.product-not-found p {
  color: var(--gray-color);
  font-size: 18px;
}

.related-products {
  margin-top: 60px;
  padding-top: 40px;
  border-top: 1px solid var(--border-color);
}