.main-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding: 30px 0;
}

@media (max-width: 768px) {
  .main-content {
    padding: 20px 0;
  }
}