.navbar {
  background-color: white;
  border-bottom: 1px solid var(--border-color);
}

.navbar-list {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 15px 0;
  margin: 0;
}

.navbar-link {
  font-weight: 500;
  color: var(--dark-color);
  padding: 5px 0;
  position: relative;
  transition: color 0.3s;
}

.navbar-link:hover {
  color: var(--primary-color);
}

.navbar-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.3s;
}

.navbar-link:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  .navbar {
    display: none;
  }
}